<!-- <div class="dashboard-container">
  <div class="filter-bar">
    <dx-date-box [(value)]="filter.dosFrom" placeholder="DOS From"></dx-date-box>
    <dx-date-box [(value)]="filter.dosTo" placeholder="DOS To"></dx-date-box>
    <dx-select-box [items]="years" [(value)]="filter.dateRange" placeholder="Last Two Years"></dx-select-box>
    <dx-select-box [items]="caseTypes" [(value)]="filter.caseType" placeholder="Case Type"></dx-select-box>
    <dx-button text="Search" (onClick)="loadData()"></dx-button>
  </div>

  <div class="dashboard-panels">
    <div class="panel">
      <h4>Referral</h4>
      <dx-data-grid [dataSource]="referralData" [columns]="columns" [showBorders]="true"></dx-data-grid>
    </div>

    <div class="panel">
      <h4>A/R</h4>
      <dx-data-grid [dataSource]="arData" [columns]="columns" [showBorders]="true"></dx-data-grid>
    </div>

    <div class="panel">
      <h4>Follow-up</h4>
      <dx-data-grid [dataSource]="followUpData" [columns]="columns" [showBorders]="true"></dx-data-grid>
    </div>
  </div>
</div> -->
