<div class="top-navbar">
  <div class="navbar-title">Health Care</div>

  <dx-button
    *ngIf="!isLoggedIn"
    text="Login"
    icon="user"
    type="default"
    stylingMode="contained"
    class="login-button"
    (onClick)="showLoginPopup = true"
  ></dx-button>

  <div *ngIf="isLoggedIn" class="user-info">
    <img *ngIf="userImageUrl" [src]="userImageUrl" alt="User Image" class="user-circle" />
    <dx-button
      text="Logout"
      icon="runner"
      type="danger"
      stylingMode="contained"
      class="login-button"
      (onClick)="logout()"
    ></dx-button>
  </div>
</div>

<div class="main-container">
  <div class="app-container">
    <div class="sidebar" [ngClass]="{ 'collapsed': !isSidebarOpen }">
<nav class="nav-links">
  <!-- <ng-container *ngIf="isAdmin()"> -->
    <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-link">Dashboard</a>
    <a routerLink="/patient" routerLinkActive="active-link" class="nav-link">Patient</a>
    <a routerLink="/therapist" routerLinkActive="active-link" class="nav-link">Therapist</a>
    <a routerLink="/scheduler" routerLinkActive="active-link" class="nav-link">Scheduler</a>
    <a routerLink="/notedetail" routerLinkActive="active-link" class="nav-link">Note Detail</a>
  <!-- </ng-container> -->
  <ng-container *ngIf="isPatient()">
    <a routerLink="/dashboardpatient" routerLinkActive="active-link" class="nav-link">Dashboard-Patient</a>
    <a routerLink="/appointment" routerLinkActive="active-link" class="nav-link">Patient Appointment</a>
  </ng-container>
  <!-- <ng-container *ngIf="isNotLogin()"> -->
    <a routerLink="/dashboardpatient" routerLinkActive="active-link" class="nav-link">Dashboard-Patient</a>
  <!-- </ng-container> -->
</nav>
    </div>
    <div class="main-content">
      <div class="hamburger" (click)="toggleSidebar()">🧑‍⚕️</div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <dx-popup
    [(visible)]="showLoginPopup"
    [showTitle]="false"
    [width]="400"
    [height]="'auto'"
    [dragEnabled]="false"
    closeOnOutsideClick="true"
  >
    <div class="login-card p-6 text-center">
      <div class="icon-wrapper mx-auto mb-3">
        <i class="dx-icon-user" style="font-size: 40px; color: #3f51b5;"></i>
      </div>

      <h3 class="text-lg font-semibold mb-5">Login to Health Care</h3>

      <div class="text-left mb-4">
        <label class="block font-medium mb-1">Username</label>
        <dx-text-box [(value)]="loginData.username" placeholder="Enter Username" stylingMode="outlined" class="w-full"></dx-text-box>
      </div>

      <div class="text-left mb-4">
        <label class="block font-medium mb-1">Password</label>
        <dx-text-box [(value)]="loginData.password" [mode]="'password'" placeholder="Enter Password" stylingMode="outlined" class="w-full"></dx-text-box>
      </div>

      <dx-button text="Login" type="default" stylingMode="contained" width="100%" (onClick)="onLogin()"></dx-button>
    </div>
  </dx-popup>
</div>
